:root{
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul, ol{
    margin: 0;
    padding-left: 0;
}

address{
    font-style: normal;
}

a{
    color: currentColor;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list{
    list-style: none;
}

/*----------------------HEADER----------------------*/

.header{
    background-color: var(--primary-white-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-menu-list{
    display: flex;
}

.header-menu-item:not(:last-child){
    margin-right: 50px;
}

.header>.container{
    display: flex;
    align-items: center;
}

.header-contact-list{
    display: flex;
    margin-left: auto;
}

.header-contact-item{
    margin-left: 50px;
}

.header-contact-item{
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
}

.header-logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;

color: var(--accent-color);
margin-right: 93px;
}

span{
    color: var(--primary-title-color);
}

.header-logo{
    text-decoration: none;
}

.header-link{
    font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: var(--primary-title-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    position: relative;
}

.current::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    left: 0;
    bottom: -32px;
}

.header-link{
    text-decoration: none;
}

.header-link:hover{
    color: var(--accent-color);
}

.header-link:focus{
    color: var(--accent-color);
}

.header-mailto{
    font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: var(--primary-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mailto{
    text-decoration: none;
}

.header-mailto:hover{
    color: var(--accent-color);
}

.header-mailto:focus{
    color: var(--accent-color);
}

.header-tel:hover {
    color: var(--accent-color);
}

.header-tel:focus{
    color: var(--accent-color);
}

.header-tel{
    font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: var(--primary-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel{
    text-decoration: none;
}

.contacts-icon{
    fill: currentColor;
    margin-right: 10px;
    align-self: center;
}

/*----------------------HERO----------------------*/

.hero-section{
    padding-top: 200px;
    padding-bottom: 210px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
    font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--primary-white-color);
max-width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
}

.hero-btn{
    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

background-color: var(--accent-color);
color: var(--primary-white-color);
padding: 10px 32px;
margin-left: auto;
margin-right: auto;
min-width: 200;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}

/*----------------------QUALITY----------------------*/


.quality{
    padding-top: 94px;
    padding-bottom: 94px;
}

.quality-title{
    font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--primary-title-color);
margin-bottom: 10px;
margin-top: 30px;
}

.quality-text{
    font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;

color: var(--primary-text-color);
width: 270px;
}

.quality-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.quality-soc-icon{
    fill: #AFB1B8;
}

.quality-soc-item{
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #F5F4FA;
}


/*----------------------OCCUPATION----------------------*/

.occupation-section{
    padding-bottom: 94px;
    padding-top: 0;
}

.occupation-section-list{
    display: flex;
}

.occupation-section-item:not(:last-child){
    margin-right: 30px;
}

.occupation-section-title{
    font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;

color: var(--primary-title-color);
margin-bottom: 50px;
}

.occupation-cover-wrap{
    position: relative;
    overflow: hidden;
}

.occupation-cover-text{
    position: absolute;
    bottom: 0; 
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background: rgba(47, 48, 58, 0.8);
}


/*----------------------TEAM----------------------*/

.team-section{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #F5F4FA;
}

.team-container{
padding-top: 30px;
padding-bottom: 30px;
background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}



.team-section-list{
    display: flex;
}

.team-section-item:not(:last-child){
    margin-right: 30px;
}

.team-section-main-title{
    font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;

color: var(--primary-title-color);
margin-bottom: 50px;
}

.team-section-additional-title{
    font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color: var(--primary-title-color);
margin-bottom: 10px;
}

.team-section-text{
    font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color: var(--primary-text-color);
margin-bottom: 16px;
}

.team-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FFFFFF;
}

.team-soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-icon{
    fill: #AFB1B8;
}

.team-soc-link:hover{
    background-color: #2196f3;
}

.team-soc-link:focus{
    background-color: #2196f3;
}

.team-soc-link:hover .team-soc-icon{
    fill: #ffffff;
}

.team-soc-link:focus .team-soc-icon{
    fill: #FFFFFF;
}


/*----------------------CLIENTS---------------------*/

.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 50px;
}

.clients-soc-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-soc-icon{
    fill: #AFB1B8;
}

.clients-soc-link{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: block;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-soc-icon{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.clients-soc-link:hover{
    border-color: #2196f3;
    cursor: pointer;
}

.clients-soc-link:hover .clients-soc-icon{
    fill:#2196f3;
}

.clients-soc-link:focus{
    border-color: #2196f3;
}

.clients-soc-link:focus .clients-soc-icon{
    fill:#2196f3;
}


/*----------------------FOOTER----------------------*/

.footer{
    background-color: #2F303A;
}

.footer{
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-adres-item{
    margin-top: 20px;
    margin-bottom: 9px;
}

.footer-mailto-item{
    margin-bottom: 9px;
}

.footer-logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;

color: var(--accent-color);
}

.logo-span{
    color: var(--primary-white-color);
}

.footer-logo{
    text-decoration: none;
}

.footer-link{
    font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;

color: var(--primary-white-color);
}

.footer-link{
    text-decoration: none;
    font-style: normal;
}

.footer-mailto{
    font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-mailto{
    text-decoration: none;
    font-style: normal;
}

.footer-tel{
    font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-tel{
    text-decoration: none;
    font-style: normal;
}

.footer-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-list{
    display: flex;
    gap: 10px;
}

.footer-soc-icon{
    fill: #ffffff;
}

.footer-soc-link:hover{
    background-color: #2196f3;
}

.footer-soc-link:focus{
    background-color: #2196f3;
}

.footer-soc-link:hover .footer-soc-icon{
    fill: #ffffff;
}

.footer-soc-link:focus .footer-soc-icon{
    fill: #FFFFFF;
}

.footer-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.container-left{
    margin-right: 70px;
}

.container-right{
    margin-left: 93px;
}

.subscribe-title{
    font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;
}

.subscribe-list{
    display: flex;
}

.subscribe-btn{
    font-family: inherit;
    font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--accent-color);
color: var(--primary-white-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
min-width: 200;
border: none;
margin-left: 12px;
padding: 10px 28px 10px 29px;
}

.subscribe-icon{
    margin-left: 10px;
    fill: #FFFFFF;
}

.subscribe-input{
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: var(--primary-white-color);
}

input::placeholder{
    font-weight: 400;
font-size: 16px;
line-height: calc(20/16);
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

/*----------------------PORTFOLIO----------------------*/

.portfolio-section{
    padding-top: 100px;
    padding-bottom: 114px;
}

.portfolio-btn-list{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-btn-item:not(:last-child){
    margin-right: 8px;
}

.portfolio-list{
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-title{
    margin-bottom: 4px;
}

.portfolio-btn{
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: calc(26/16);
text-align: center;
letter-spacing: 0.03em;

background-color: #F5F4FA;
color: var(--primary-title-color);
padding: 6px 22px;
border: none;
border-radius: 4px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0);
}

.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text{
    position: absolute;
    top: 0;
    left: 0;
font-size: 18px;
line-height: calc(28/18);
letter-spacing: 0.03em;
padding: 63px 24px;
color: #FFFFFF;
background: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title{
    font-weight: 700;
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;

color: var(--primary-title-color);
}

.portfolio-text{
    font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;

color: var(--primary-text-color);
}

.additional-container{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.port-container{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-container:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.port-container:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* --------------------------------------BACKDROP--------------------------------- */

.backdrop{
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0%;
    width: 100vw;
    height: 100vh;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.modal{
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: transparent;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.modal-close:hover .close-icon{
    fill: var(--accent-color);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
}

.modal-title{
    font-weight: 700;
font-size: 20px;
line-height: calc(23/20);
text-align: center;
letter-spacing: 0.03em;

color: #212121;
text-align: center;
margin-bottom: 12px;
}



.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 16px;
    padding-left: 42px;
}

.modal-input:hover{
    border-color: #2196F3;
    cursor: pointer;
}

.modal-input:hover + .modal-icon{
    fill: #2196F3;
}

.modal-input:focus {
    border-color: #2196F3;
    cursor: pointer;
}

.modal-input:focus + .modal-icon{
    fill: #2196F3;
}

.modal-text:hover{
    border-color: #2196F3;
    cursor: pointer;
}

.modal-text:focus{
    border-color: #2196F3;
}

.input-wrap{
    position: relative;
}

.modal-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-field{
    margin-bottom: 10px;
}

.modal-btn{
    font-family: inherit;
    font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
padding: 10px 55px 10px 56px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
min-width: 200px;
border: none;
margin-left: auto;
margin-right: auto;
}

.modal-label{
    font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;

color: #757575;
display: block;
margin-bottom: 4px;
}

.modal-text{
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
}

::placeholder{
    font-weight: 400;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

/* .modal-check{
    margin-top: 10px;
} */

.check-text{
    font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;

color: #757575;
}

.check-link{
    color: #2196F3;
}

.check-text{
    display: flex;
    align-items: center;
}

.check-text span{
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icon{
    fill: transparent;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.modal-check:checked + .check-text span{
    background-color: #2196F3;
    border: none;
}

.modal-check:checked + .check-text .check-icon{
    fill: #FFFFFF;
}

.check-mod{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}