.clients{
    padding-top: 94px;
    padding-bottom: 94px;
&-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
&-soc-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
&-soc-icon{
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
&-soc-link{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: block;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
    border-color: #2196f3;
    cursor: pointer;
}
    &:focus{
    border-color: #2196f3;
}
    &:focus .clients-soc-icon{
    fill:#2196f3;
}
    &:hover .clients-soc-icon{
    fill: #2196f3;
}
}
}