.occupation-section{
    padding-bottom: 94px;
    padding-top: 0;
&-list{
    display: flex;
}
&-item:not(:last-child){
    margin-right: 30px;
}
&-title{
    font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-title-color);
margin-bottom: 50px;
}
}

.occupation-cover-wrap{
    position: relative;
    overflow: hidden;
}

.occupation-cover-text{
    position: absolute;
    bottom: 0; 
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background: rgba(47, 48, 58, 0.8);
}