.quality{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
&-title{
    font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-title-color);
margin-bottom: 10px;
margin-top: 30px;
text-align: center;
@media screen and (min-width: 768px) {
    text-align-last: left;
    }
}
&-text{
    font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 30px;
width: 100%;
@media screen and (min-width: 768px) {
        width: 354px;
        margin-bottom: 0;
    }
@media screen and (min-width: 1200px) {
        width: 270px;
    }
}
&-list{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
&-soc-icon{
    fill: #AFB1B8;
}
&-soc-item{
    max-width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
}